@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4>Welcome to the Best Website</h4>
    <p>My name is Will Otterbein and I created the best website in the world!</p>
    <p>You are welcome, world :)</p>
    <p>This is an update to the website.</p>
</div>
